table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  tr{
   height: 12.5rem;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }

.details{
    height: 12.5rem;
    width: 10rem;
    border: 1px solid whitesmoke;
    border-radius:1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color:#e72929;
}

.details header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.details .name{
 font-size: 1rem;
 font-weight: bold;
}
.details .name span{
    padding: .6rem 2rem .6rem 0;
    border-radius: 10rem;
    font-size: 1.3rem;
}

.details .price{
    font-size: 1rem;
    
    color: green;
}

.details .price::before{
    content: "Price: ";
    color: darkgrey;
}
